<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AWSProfileName" value="your_aws_profilename" />
    <add key="AWSAccessKey" value="your_aws_access_key" />
    <add key="AWSSecretKey" value="your_aws_secret_key" />
    <!-- your default aws region -->
   <!-- the region where the queue is located if you use the ctors without Region param -->
    <add key="AWSRegion" value="us-east-1" />

    <!-- the name of your sqs queue Values: EU, NCalifornia, NVirginia, Oregon -->
    <add key ="SQSQueueName" value="my_sqs_queue"/>

  </appSettings>
</configuration>